#!/bin/zsh

# General
alias ls='lsd --icon=never'
alias ll='ls -la'
alias lt='ls --tree'
alias hig='history 0 | rg'
alias chx='chmod +x'
'='() { python -c "print($1)" }
clip() { xclip -selection clipboard }
sbt_newScalaProject() { sbt new scala/scala-seed.g8 }
pacman_removeCache() { sudo rm -r /var/cache/pacman/pkg }

vim_nvimConfig() { cd $MYNVIMRC && vim }
kill_bloop() { ps -x | grep '[b]loop.Server' | awk '{$1=$1};1' | cut -d ' ' -f 1 | xargs kill }
kill_sbt(){ ps -x | grep '[s]bt' | awk '{$1=$1};1' | cut -d ' ' -f 1 | xargs kill }
yay_listAurPackages() { yay -Qm }
notes() { cd $NOTES_PATH && vim }
rr() { ranger }
scripts() { cd $SCRIPTS_PATH && vim }
vim_zshrc() { vim ~/.zshrc }
vlc-random() { ls | sort -R| head -n 1| xargs --delimiter='\n' vlc }
aliases() { vim $ALIASES_FILE }
lg() { lazygit }
gst() { git status }
findf() { find . -name $1 }
gic() { git commit }
# TODO: remove st_run later
st_run() { st -e zsh -c "$1;exec zsh" &! }
